<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
<<<<<<<< HEAD:1.6/Bai1/bin/Debug/Bai1_Project.exe.config
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
========
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
>>>>>>>> origin/QuynhAnh:Lab1/1.6/1.6/App.config
    </startup>
</configuration>